# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.env.*

# Virtual environment
venv/
env/
.venv/

# Data
data/raw/
data/generated/
# Keep the processed DB
# data/processed/warehouse.db should be committed

# Logs
*.log

# Docker
*.dockerignore
docker-compose.override.yml

# IDE / Editor
.vscode/
.idea/
*.swp
